header{background-color: #351330
;margin: -8px;
padding: 10px ;}

body {background-color: #424254;}

ol {color:#64908a ;}

.Logo {padding-bottom: 10px;}
nav {padding-left: 500px;
    display: flex;
    flex-direction: row;font-size: x-large;}

    .carousel-item, .carousel-item-active {padding-left: 400px;padding-right: 400px;
    padding-top: 100px;}
    #carouselExampleIndicators {background-color: #424254;}

    .container {padding: left 500px;  ;
        background-color: #424254;  
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 0.25fr 0.25fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 25px 10px;
        grid-auto-flow: row;
        align-content: space-evenly;
        align-items: stretch;
        grid-template-areas:
          ". titulo ."
          "juego-1 juego-2 juego-3";
      }
      
      .juego-1 {display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 9px 10px;
        grid-auto-flow: row dense;
        justify-items: center;
        grid-template-areas:
          ". . ."
          ". . .";
        justify-self: center;
        grid-area: juego-1;
      }
      
      .juego-2 {  
        align-self :flex-start ;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: space-evenly;
        align-content: stretch;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . .";
        justify-self: center;
        grid-area: juego-2;
      }
      
      .juego-3 { display: grid;
        justify-self: center;
        grid-area: juego-3;
        align-self: flex-start;
      }
      
      .titulo { display: grid;
        justify-self: center;
        align-self: flex-end;
        grid-area: titulo;
      }


      .card {background-image: linear-gradient(#64908a,#72d0c3)}
      
    